@charset "UTF-8";

@media screen and (min-width: 500px){
    main{
        display: block;
        max-width: 1200px;
        margin: auto;
    }
    
    article{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #campo1 input{
        width: 50%;
    }
    p {
        font-size: 1em;
    }
    label{
        font-size: 1em;
    }
    header h1{
        font-size: 2em;
    }

    textarea{
        width: 400px;
    }
}