@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: 'Passion One', 'cursive';
    --fonte2: 'Sriracha', 'cursive';
}


*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
}

header h1{
    font-size: 3em;
    font-family: var(--fonte1);
    font-weight: 200;
    font-variant: small-caps;
}

header p{
    color: rgba(255, 255, 255, 0.637);
}

header a{
    text-decoration: none;
    color: white;
    
}

header a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte2);
    padding: 60px 25px;
    line-height: 2em;
    color: black;
    font-size: 1.1em;
}

#natureza{
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right top;
}

#livro{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.fundo-transparente{
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 50px;
    color: rgba(255, 255, 255, 0.884);
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 230px;
    border-radius: 3px;
    margin-left: -10px;

}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 0.9em;
}

footer p{
    
    color: rgba(255, 255, 255, 0.596);
}

footer a {
    font-style: normal;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

footer a:hover {
    text-decoration: underline;
}