*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    display: block;
    width: 100%;
}

section{
    min-height: 100vh;
}

h1{
    font-size: 60px;
}

p{
    font-size: 22px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

:root {
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --secondary-color: crimson;
    --gap: 3rem;
}

.main-content{
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding: 50px 30px 50px 30px;
}

.section-img-bg{
    background-image: url(../img/main-bg.svg);
    background-position: center center;
    background-size: cover;
    color: var(--white-color);
}

.section-white-bg{
    color: var(--primary-color);
}