@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



:root{
    --cor_purple: #6C63FF;
    --cor_purple_light: #D7D4FF;
    --cor_white: #FFFFFF;
    --cor_white_200: #F9F9F9;
    --cor_grey: #555555;
    --cor_grey_dark: #2A2A2A;

    --cor_red: #FF6363;
    --cor_blue: #63ECFF;
    --cor_pink: #F363FF;
    --cor_green: #63FF73;
    --cor_yellow: #FFDD63;
    --cor_purple_card: #6663FF;

    --font_merriweather: 'Merriweather', 'serif';
    --font_lato: 'Lato', 'sans-serif';
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection{
    background-color: var(--cor_blue);
}

body{
    min-height: 100vh;
}

h1, h2, h3, h4{
    font-family: var(--font_merriweather);
}

p{
    font-family: var(--font_lato);
}

header{
    background-color: var(--cor_purple_light);
}

.header-container{
    display: flex;
    max-width: 1100px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px;
}

.header-txt{
    max-width: 350px;
}

.header-txt h1{
    font-size: 36px;
    margin-bottom: 10px;
}

.header-txt p{
    font-size: 19px;
    margin-bottom: 25px;
}

.header-txt button{
    padding: 8px 30px;
    background-color: var(--cor_purple);
    border-radius: 3px;
    color: var(--cor_white);
    border: none;
    font-family: var(--font_lato);
    cursor: pointer;
}

.header-txt button:hover{
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.582);
    scale: 102%;
}

.img-header-container{
    width: 350px;
}

.img-header-container img{
    display: block;
    width: 100%;
}


.main-section{
    background-color: var(--cor_white_200);
}

.main-section-container{
    max-width: 1100px;
    margin: auto;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 20px;
}

.squares{
    width: 250px;
    background-color: white;
    box-shadow: 0px 0px 8px #55555542;
    cursor: pointer;
}

#red .square-colors{
    background-color: var(--cor_red);
}

#blue .square-colors{
    background-color: var(--cor_blue);
}

#pink .square-colors{
    background-color: var(--cor_pink);
}

#green .square-colors{
    background-color: var(--cor_green);
}

#yellow .square-colors{
    background-color: var(--cor_yellow);
}

#purple .square-colors{
    background-color: var(--cor_purple_card);
}

.squares:hover{
    scale: 102%;
}

.square-colors{
    width: 250px;
    height: 180px;
    /* background-color: var(--cor_green); */
}

.square-txt{
    padding: 20px;
}

.square-txt h3{
    margin-bottom: 10px;
}

footer{
    background-color: var(--cor_purple_light);
}

.footer-container{
    max-width: 1100px;
    margin: auto;
    padding: 80px;
    display: flex;
    justify-content: center;
}

.form-container h2{
    margin-bottom: 30px;
    font-family: 'Merriweather';
    font-weight: 400;
    text-align: center;
}

.form-container input, textarea{
    font-family: 'Lato';
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 10px 8px;
    margin-bottom: 10px;
    width: 100%;
}

.form-container input::placeholder{
    font-size: 12px;
}

.form-container textarea{
    height: 120px;
    margin-bottom: 15px;
}

.form-container button{
    width: 100%;
    background-color: var(--cor_purple);
    border: none;
    color: white;
    border-radius: 3px;
    padding: 10px 0px;
    cursor: pointer;
}

.form-container button:hover{
    scale: 102%;
}

@media screen and (max-width: 575px) {
    .header-container{
        padding: 30px;
    }

    .main-section-container{
        padding: 30px;
    }

    .footer-container{
        padding: 30px;
    }
}

@media screen and (max-width: 875px) {
    .header-container{
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .main-section-container{
        padding: 30px;
    }

    .header-txt{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 966px) {

    .main-section-container{
        justify-content: space-evenly;
    }

    .header-txt h1{
        font-size: 32px;
    }

    .header-txt p{
        font-size: 16px;
    }
}
