@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#063d1e
*/

:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #063d1e;

    --fonte_padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte_destaque: 'Bebas Neue', 'cursive';
    --fonte_android: 'Android', 'cursive'; 
}

*{
    margin: 0px;
    padding: 0px;
}

p{
    text-indent: 15px;
}

body {
    font-family: var(--fonte_padrao);
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(-180deg, var(--cor4), var(--cor5));
    padding: 15px;
    box-shadow: 0px 1px 4px 1px rgb(0 0 0 / 55%);
}

header > h1{
    font-weight: 200;
    font-size: 2.3em;
    font-family: var(--fonte_destaque);
    color: white;
    text-align: center;
    text-shadow: 3px 4px #00000054;
    
}

header > p {
    padding-top: 15px;
    font-family: var(--fonte_padrao);
    color: rgba(255, 255, 255, 0.651);
    text-align: center;
}

nav{
    padding-top: 25px;
}

nav > a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
}

nav > a:hover{
    border-radius: 5px;
    background-color: #83e1ad27;
    text-decoration: underline;

}


img{
    width: 100%;
}

main{
    padding: 15px;
    min-width: 260px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 1px 4px 1px rgb(0 0 0 / 55%);
}

main > h1 {
    text-align: center;
    border-radius: 5px;
    color: #063d1e;
    margin-left: 15px;
    font-size: 1.6em;
    font-family: var(--fonte_android);
}

main > p {
    padding: 15px;

}

main > h2 {
    font-weight: normal;
    border-radius: 5px;
    background-image: linear-gradient(90deg, var(--cor2), var(--cor2), rgba(255, 255, 255, 0.329));
    color: #063d1e;
    margin-left: 15px;
    font-family: var(--fonte_android);
    font-size: 1.3em;
}

.link_personalizado{
    font-weight: bold;
    text-decoration: none;
    color: #063d1e;
    background-image: linear-gradient(90deg, var(--cor2), rgba(154, 253, 232, 0.329));
}

.link_personalizado:hover{
    text-decoration: underline;

}

.link_personalizado:active{
    color: var(--cor3)
}

strong{
    color: #063d1e;
}

.pequena{
    display: block;
    width: 50%;
    margin: auto;
}

#video{
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
    background-color: #063d1e;
    position: relative;
    height: 400px;
}

#video > iframe{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 90%;
   height: 90%;
}

section{
    border-radius: 0px 0px 5px 5px;
    background-color: #5affe457;
}

section > h2{
    border-radius: 5px 5px 0px 0px;
    margin-top: 15px;
    background-color: #3ddc84;
    text-align: center;
    color: white;
}

section > p{
    padding: 15px;
}

ul{
    columns: 2;
}

section > ul{
    padding: 15px;
    margin-left: 50px;
}

aside{
    padding-top: 15px;
    padding-left: 15px;
}

footer{
    margin-top: 10px;
    font-style: italic;
    color: #2fa866;
    text-align: center;
    padding: 10px;
    background-color: #063d1e;
}

footer > a{
    font-style: normal;
    color: white;
    text-decoration: none;
}

footer > a:hover{
    text-decoration: underline;
}

@media (max-width: 425px){
    nav{
        padding-left: 10px;
    }

    nav > a{
        font-size: 0.8em;
    }
}

@media (max-width: 372px){
    nav {
        padding-left: 15px;
    }

    nav > a{
        font-size: 0.6em;
    }
}