@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    --fonteR: 'Righteous', 'cursive';
    --fonteS: 'Sarala', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(68.15deg, #2F2325 , #8E5D52 );
    background-attachment: fixed;
}

main{
    margin: auto;
    max-width: 1600px;
}

#menuzin{
    display: none;
}

.material-symbols-outlined{
    cursor: pointer;
    padding: 10px;
    color: whitesmoke;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 10px;
    border-bottom: 0.4px solid rgba(255, 255, 255, 0.185);
}

.header-container{
    align-items: center;
    width: 1600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    padding-left: 25px;
}

.logo:hover{
    transform: translate(0px, -2px);
}

nav{
    display: flex;
    gap: 30px;
}

nav > a {
    padding: 10px 5px;
    font-family: var(--fonteS);
    text-decoration: none;
    color: white;
}

nav > a:hover{
    text-decoration: underline;
    background-color: rgba(255, 228, 196, 0.055);
    border-radius: 5px;
}

.section1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


article > h1 {
    color: white;
    padding-bottom: 30px;
    font-family: var(--fonteR);
    font-size: 50px;
}

article > p {
    font-family: var(--fonteS);
    padding-bottom: 45px;
    color: rgba(255, 248, 221, 0.637);
    font-style: italic;
}

article > button {
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    text-align: center;
    width: 185px;
    background-color: rgba(255, 236, 183, 0.856);
    font-family: var(--fonteS);
}

article > button:hover{
    text-decoration: underline;
    transform: translate(0px, -2px);
    box-shadow: 0px 0px 5px sandybrown;
}

article > button:active{
    color: white;
}

.section2{
    padding: 25px 10px 0px 10px;
    margin: auto;
    max-width: 700px;
    border-top: 0.4px solid rgba(255, 255, 255, 0.062);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.section2 h2{
    margin-bottom: 35px;
    text-align: center;
    color: white;
    font-family: var(--fonteR);
}

.section2 p{
    font-family: var(--fonteS);
    margin-bottom: 25px;
    text-align: center;
    color: rgba(250, 222, 189, 0.829);
}

footer{
    margin-top: 3px;
    padding-top: 12px;
    border-top: 0.4px solid rgba(255, 255, 255, 0.24);
    
    padding-bottom: 12px;
    
}

.ballerine{
    display: block;
    height: 50px;
    margin: 0 auto;
}

.paragrafo3{
    padding-bottom: 35px;
}

.final{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.matheus{
    height: 12px;
    width: 200px;
    font-family: var(--fonteS);
    font-size: 12px;
    color: rgba(255, 245, 219, 0.658);
    padding-left: 10px;
    margin: auto; 
}

.matheus > a{
    text-decoration: none;
    color: rgba(255, 245, 219, 0.658);
}

.matheus > a:hover{
    border-radius: 5px;
    background-color: rgba(255, 245, 219, 0.068);
}

.matheus > a:active{
    color: rgb(255, 254, 204);
}





@media (max-width: 600px){
    header{
        display: none;
    }

    #menuzin{
        display: block;
        border-bottom: 0.4px solid rgba(255, 255, 255, 0.185);
    }

    .header-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        padding: 0;
    }

    nav{
        margin-top: 20px;
        gap: 15px;
        text-align: center;
        flex-direction: column;
    }

    .section1-article{
        margin-top: 20px;
        width: 300px;
        text-align: center;
        order: 1;
    }

    .section1{
        margin-top: 20px;
        justify-content: center;
    }

    .logo-principal img{
        width: 250px;
    }

    .section2 h2{
        font-size: 1.2em;
    }

    .section2 p{
        font-size: 0.8em;
    }
}