@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-principal: 'Roboto', 'sans-serif';
    --font-secundaria: 'Nunito', 'sans-serif';
    --font-logo: 'Monoton', 'cursive';

    --cor-roxa: #736EF5;
    --cor-cinza: #4B4B4B;
    --cor-roxa-section: #7269FA;
    --cor-preta: #1C2331;
    --cor-escura: #161C27;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--font-secundaria);
}

h1, p{
    margin-top: 16px;
    margin-bottom: 16px;
}

    /* HEADER  */
    
#header-logo-1{
    display: none;
}

header{
    box-shadow: 0px 1px 4px #4b4b4b4f;
    position: relative;
}
    
span.material-icons{
    display: none;
}

.header-container{
    margin: auto;
    padding: 15px 10px 15px 10px;
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-weight: 800;
    display: flex;
    font-size: 32px;
    align-items: center;
    color: var(--cor-roxa);
}

#b-logo{
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0px 12px 0px 12px;
    font-weight: 400;
    font-family: var(--font-logo);
    font-size: 45px;
    margin-right: 5px;
}

.header-container nav a{
    text-decoration: none;
    color: var(--cor-cinza);
    font-weight: 600;
    padding: 15px 20px 15px 20px;
}

.header-container nav a:hover{
    position: relative;
    left: -2px;
    top: -2px;
}

#contato{
    color: white;
}

#contato:hover{
    color: var(--cor-roxa);
}

.button{
    color: white;
    background-color: var(--cor-roxa);
    border-radius: 30px;
    padding: 13px 25px 13px 25px;
    border: 1px solid var(--cor-roxa);
    margin-left: 15px;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: var(--cor-roxa);
}


/* SECTION-PRINCIPAL  */


.section-principal-container{
    margin: auto;
    display: flex;
    max-width: 960px;
    padding: 100px 10px 100px 10px;
    /* background-color: green; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#section-principal-texto{
    max-width: 400px;
    padding-right: 10px;
}

#section-principal-texto h1{
    color: var(--cor-roxa);
    font-size: 3.1em;
}

#section-principal-texto p{
    font-size: 1.2em;
}

.button-principal{
    margin-top: 20px;
    margin-left: 0px;
    font-weight: bold;
}

#section-principal-img{
    flex: 1;
    padding-left: 10px;
}

#section-principal-img img{
    min-width: 300px;
    display: block;
    width: 100%;
    margin: auto;
}

.section-principal-2 #section-principal-texto{
    padding-right: 0;
    margin-left: 30px;
}

.section-principal-2 #section-principal-img{
    order: -1;
    margin-right: 30px;
}

.section-principal-2 #section-principal-img img{
    /* width: 90%; */
}

.section-principal-3{
    background-color: var(--cor-roxa-section);
    color: white;
}

.section-principal-3 #section-principal-texto{
    margin-right: 30px;
    padding-right: 0px;
}

.section-principal-3 #section-principal-img{
    margin-left: 30px;
}

.section-principal-3 #section-principal-texto h1{
    color: white;
}

.section-principal-3 .button{
    background-color: white;
    color: var(--cor-roxa);
    border: 1px solid white;
}

.section-principal-3 .button:hover{
    background-color: var(--cor-roxa-section);
    color: white
}

footer{
    background-color: var(--cor-preta);
}

footer .header-logo{
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-container{
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 10px;
    align-items: center;
}

.itens{
    align-self: flex-start;
    max-width: 200px;
    color: white;
    margin: 10px;
}

.itens h2{
    font-size: 2em;
}

.itens p a{
    color: rgba(255, 255, 255, 0.596);
    text-decoration: none;
}

.itens p a:hover{
    color: var(--cor-roxa);
}

.footer-2{
    background-color: var(--cor-escura);
}

.footer-container-2{
    max-width: 960px;
    padding: 40px;
    color: white;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-container-2 i{
    cursor: pointer;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
}

.footer-container-2 .fa-facebook-f{
    padding: 10px 13px 10px 13px;
}

.footer-container-2 i:hover{
    background-color: var(--cor-roxa);
}

@media (max-width: 865px){
    #header-logo-1{
        display: block;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px;
    }
    span.material-icons{
        font-size: 35px;
        display: block;
        cursor: pointer;
    }
    span.material-icons:hover{
        color: var(--cor-roxa);
    }

    .header-container{
        display: none;
        flex-direction: column;
    }
    .header-container nav{
        margin-top: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .header-container nav a{
        padding: 30px 25px;
    }

    .header-container .button{
        margin-top: 20px;
        margin-left: 0px;
        padding: 15px 10px;
    }
}

@media (max-width: 732px){
    #section-principal-texto{
        text-align: center;
    }
    #section-principal-texto h1{
        font-size: 2em;
    }
    #section-principal-texto p{
        font-size: 1em;
    }
    #section-principal-img{
        order: -1;
        margin-bottom: 20px;
    }
    #section-principal-img img{
        width: 80%;
    }

    .section-principal-2 #section-principal-texto{
        margin-left: 0px;
        padding-right: 0px;
    }
    
    .section-principal-2 #section-principal-img{
        margin-right: 0px;
    }

    .section-principal-3 #section-principal-texto{
        margin-right: 0px;
        padding-right: 0px;
    }
    
    .section-principal-3 #section-principal-img{
        margin-left: 0px;
    }
}

@media (max-width: 500px){
    .footer-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px 20px 5px 20px;
    }

    .footer-container .header-logo{
        margin-bottom: 20px;
    }

    .itens{
        align-self: center;
        margin-bottom: 10px;
    }

    .itens h2{
        font-size: 1.3em;
    }

    .itens p a{
        font-size: 0.9em;
    }

    .footer-container-2 i{
        font-size: 10px;
    }

}

@media (max-width: 327px){
    #section-principal-img img{
        max-width: 150px;
    }
}